:root {
  /* Text colors */
  --clr1: #A4907C;
  --clr2: #4f4e4e;
  --clr3: #c2c1c1;
  --clr4: #a6a6a6;
  --clr5: #818181;

  /* Page colors */
  --hover-clr: #17141d;
  --header-bgc: #A4907C;
  --border-color: #e1e0e0;
  --scl-color: #8b8484;
  --ftr-color: #A4907C;
  --Primary-color: #98EECC;
  /* spacing */
  --margin-btm: 70px;
  --margin-btm-medium: 35px;

  --s: 600px;
  --m: 890px;
  --w: 1060px;
}
