.dialog {
  background-color: #fff;
  max-width: max-content;
  border-radius: 9px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  animation: fadeIn 1s, slideInDialog 0.5s linear;
  padding: 20px;
}

.editor-dialog {
  padding: 20px;
}

.dialog::backdrop {
  background-color: #3333427f;
}

.dialog-content h2 {
  margin-bottom: 1rem;
}

.dialog .dialog-content button {
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid #777;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInDialog {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}