canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.canvas-container {
  grid-area: canvas;
  width: 100%;
  margin: 10px auto;
}

.editor-dialog {
  background-color: #D0F5BE;
}

.emojis-section {
  grid-area: emoji;
  background-color: #7a6b5c;
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.emojis-section button {
  border-radius: 10px;
  height: max-content;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.emojis-section button:hover {
background-color: lightslategray;
}

.editor-txt-container {
  grid-area: text-line;
  place-self: center;
  border-radius: 10px;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  color: #fff;
  opacity: 0.8;
}

.editor-txt-container input {
  border-radius: 10px;
  color: black;
  width: 300px;
  height: 40px;
  font-size: 1.5em;
  border: none
}

.share-download {
  grid-area: share-download;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5em;
}

.share-download a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  color: #fff;
  opacity: 0.8;
}

.download-link {
  background-color: #E1306C;
}

.share-link {
  background-color: #0165E1;
}

.save-link {
  border-radius: 10px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  border: none;
}

.save-link:hover {
  background-color: lightslategray;
  scale: 1.1;
  transition: 0.1s;
}

.share-download a:hover {
  background-color: lightslategray;
  transform: scale(1.05);
  transition: 0.1s;
}

.control-box1 {
  grid-area: control-box1;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.control-box2 {
  grid-area: control-box2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.control-box1 button,
.control-box2 button,
.control-box3 button {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
}

.control-box1 button:hover,
.control-box2 button:hover,
.control-box3 button:hover {
  background-color: lightslategray;
  scale: 1.05;
  transition: 0.1s;
}

.icon {
  width: 100%;
}

#txt-color,
#stroke-color {
  border-radius: 10px;
  cursor: pointer;
  border: none
}

#txt-color:hover,
#stroke-color:hover {
  background-color: lightslategray;
  scale: 1.1;
  transition: 0.3s;
}

.data-input[type="text"]:focus {
  scale: 1.2;
}

.modal-btn {
  position: absolute;
  top: 2%;
  left: 99%;
  translate: -99% -2%;
  border-radius: 555px;
  transition: 0.3s;
  cursor: pointer;
}

.modal-btn:hover {
  background-color: lightslategray;
}