
.canvas-container {
    margin: 10px auto;
  }
  
  canvas {
    display: block;
    margin: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
  }

    .canvas-container {
    grid-area: canvas;
    width: 100%; /* Add this to ensure the canvas container takes up the available width */
  }
  
  .editor-dialog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    grid-template-areas:
      "canvas editor";
  }
  
  .editor {
    grid-area: editor;
    background-color: #c0bcbc;
    border-radius: 10px;
    display: grid;
    grid-template-rows:  2fr 1fr 1fr;
    grid-template-areas: 
    "control-box"
    "addEmoji"
    "share-download";
  }

  .editor-txt {
    grid-area: control-box;
    width: 50%;
    justify-self: center;
    align-self: start;
  }
  
  .download-link {
    grid-area: share-download;
    justify-self: end;
    align-self: center;
    margin-inline-end: 1em;
  }
  .decrease-txt-size{
    grid-area: control-box;
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
    margin-inline-end: 80px;
  }

  .increase-txt-size {
    grid-area: control-box;
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
  }

  #txt-color {
    grid-area: control-box;
    justify-self: center;
    align-self: center;
    margin-inline-start: 90px;
  }

  .icon {
    width: 100%;
  }

  .add-line {
    grid-area: control-box;
    width: 30px;
    height: 30px;
    justify-self: center;
    align-self: center;
    margin-inline-start: 190px;
    
  }
  
  .switch-line {
    grid-area: control-box;
    justify-self: center;
    align-self: center;
    margin-inline-start: 270px;
    width: 30px;
    height: 30px;
  }

