.main-footer {
  background-color: var(--ftr-color);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
   opacity: 0.5;
}

.main-footer .main-logo {
  color: var(--header-bgc);
  margin-bottom: 25px;
}

.main-footer p {
  font-size: 0.8125em;
  color: var(--clr3);
 
}

.github-icon{
  width: 2em;
  height: 2em;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.github-icon:hover{
scale: 1.2;
}
