.image-btn {
    border: none; /* Remove the border */
    background: none; /* Remove the background */
    padding: 0; /* Remove padding */
    cursor: pointer;
  }
  
  .image-btn img {
    display: block; /* Ensure the image is displayed as a block element */
    width: 100%; /* Adjust the width as needed */
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, border 0.3s; 
    
  }

  .image-btn img:hover {
    transform: scale(1.1);
    border: 2px solid black;
  }