.prev-page-btn,
.next-page-btn {
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}

.prev-page-btn:hover,
.next-page-btn:hover {
    color: lightslategray;
}