.tooltip {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  background-color: #000;
  color: #d4d2d2;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  width: 200px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s ease-in;
  z-index: 1; /* Add this line */
}

.info-icon:hover .tooltip {
  background-color: red;
  opacity: 1;
  right: calc(100% + 10px);
  z-index: 2; /* Add this line */
}
